*{
    box-sizing: border-box;
}
.navbar{
    margin-top: 5px;
}
.container{
    margin-top: 15px;
}
.col-md-12,.col-sm-12{
    margin-top: 5px;
}
.name{
    text-align: center;
    color: black;
    font-style: bold;
}
.image{
    border-radius: 5%;
}
.jumbotron{
    color: aliceblue;
}
.sr-only{
    color:#5F9EA0;
    text-decoration: none;
    
}
.about{
    position: relative;
    top: -6px;
    font-style: italic;
    color: black;

}
.myimage{
    border-radius: 5%;
    position: relative;
    left: 50px;
    margin-top: 73px;
}
.row{
    background-color:lightgrey;
    height: auto;
}
.linkedin{
    position: relative;
    top: -11px;
    left: 39px;
}
.github{
    position: relative;
    top: -11px;
    left: 80px;
}
.pdf{
    position: relative;
    top: -11px;
    left: 121px;
}
.university{
    text-align: center;
    font-style: italic;
    color: black;
    text-decoration: none;
}
.college{
    text-align: center;
    font-style: italic;
    color: black;
    text-decoration: none;
}
h3{
    text-align: center;

}
.school{
    text-align: center;
    font-style: italic;
    color: black;
    text-decoration: none;
}
.table{
    margin-top: 5px;
}
.skills{
    text-decoration: none;
    color: white;
}
.skillhead{
    text-align: center;
}
.PI{
    text-align: center;
}
.backtop{
    margin-top: 7px;

}

body{
    background-color: #696969;
}


